.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  background-color: #111;
  /* color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
